


body{
    display: flex;
   background: linear-gradient(45deg, #f5adad, #fff5c7);
    
}
.card{
    margin: 2px;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    width: 240px;
    height:420px;
}
.star{
    
    margin: 0%;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 20px;
    font-size: 5%;
    

}
.image{
    margin: 4px;
    display: flex;
    font-size: 10px;
    justify-content: center;
}
.description{
    font-size: 15px;
    margin: 10px;
    
}
.desconto{
    display: flex;
    margin: 4px;
    
}    
.div1{
    margin: 4px;
    color: #726e6e;
}
.div2{
    justify-content: space-between;
    margin-left: 23px;
}
.price{
    display: flex;
    color: #fd891d;
    
}
.a{

    font-size: 20px;
    margin: 4px;
}
.e{
    text-align: center;
    margin: 4px;
    background-color: #fd891d;
    border-radius: 15px;
    color: #ffffff;
    
}
.parcelamento{
    margin: 4px;
    font-size: 15px;
    color: #646464;
    justify-content: end;
    border-radius: 10px;

}
.divpar{

}
button{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #fd891d;
    color: #ffffff;
    margin-left: 20px;
    border-radius: 10px;
    border: #fd891d;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    align-items: center;
}
    

